
body {
    font-family: 'Tan Mon Cherry';
    margin: 0;
    padding: 0;
    background: url('assets/background-img.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #000000;
    overflow-x: hidden;
}

nav {
    position: relative;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* This centers the nav items */
    align-items: center;
    gap: 30px; /* Optional: adds space between items */
}



nav ul li a {
    font-family: 'Tan Mon Cherry';
    display: block;
    color: #fef7f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px; 
}

nav ul li a:hover {
    background-color: #ffffff;
}

nav::before {
    content: "";
    background: url('assets/nav-img.PNG') no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: -1;  
    background-size: 100% 100%; /* Ensures full scaling */
}

#posters {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px 0;
}

/*-----------------Poster 1 content -----------------------------*/
.poster-wrapper1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    }

.poster1 {
    width: 100vw;
    height: 100dvh;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    object-fit: cover; /* Ensures the image fills the space without distortion */
    margin: 0;
    padding: 0;
    position: relative;
    top: -75px;
    display: block;
}
@keyframes baselineEnter {
    0% {
        transform: translate(-50%, 50%) scale(0.8); /* starts lower */
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1); /* ends centered */
        opacity: 1;
    }
}

.overlay-name {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 100%;
    height: auto;
    pointer-events: none;
    z-index: 2;
    opacity: 0;
    animation: baselineEnter 3s ease-out forwards;
}

/*-----------------Poster 2 content -----------------------------*/

.poster-wrapper2 {
    position: relative;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    margin-top: -50px
    }

.poster2 {
    width: 100vw;
    height: 100vh;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    object-fit: cover; /* Ensures the image fills the space without distortion */
    margin: 0;
    padding: 0;
    position: relative;
    top: 0px;
    display: block;
}

.overlay-button {
    position: absolute;
    top: 90%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 200px; /* Reduced size */
    height: 30px;
    pointer-events: auto;
    z-index: 2;
    opacity: 1;
    background: none;
    border: none;
    cursor: pointer;
}



main {
    text-align: center;
    padding: 50px;
    color: white;
    position: relative;
    z-index: 1;
}
